body{
  width: 173px;
  height: 35px;
  position: relative;
  top: 20px;
  left: 289px; 
    background-color:cadetblue;
    font-family: monospace;
}


fieldset{
    background-color: darkgrey;
    background-color: brown;
    font-size: 20px;
}

ul{
    
    font-size: 10px;
    background-color: blanchedalmond;
}

